* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: space-between;
    padding: 40px 140px 0px 140px;
}

.cont_registre, .cont_login
{
    width: 34%;
    padding: 30px;
    background-color: #34393f;
}

.tituloRegistre
{
    color: #117be5;
}

.tituloLogin
{
    color: #2e9f4a;
}

form
{
    margin-top: 16px;
}

label
{
    color: white;
}

.bodyDashoard
{
    display: block;
}

.informacionUsuario
{
    text-align: center;
}

.informacion
{
    margin-bottom: 60px;
}

a
{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #13a4bd;
    font-weight: bold;
}

a:hover
{
    text-decoration: none;
}